.container{
    .dob-date{
        outline: 0;
        border-width: 0 0 1px;
        border-color: black;
        margin-top: 35px;
        margin-left: 7px;
        margin-right: 7px;
        width: 26%;
    }
}